---
import { Image } from "@astrojs/image/components";
---

<div class="pt-6 pb-8">
  <Image
    src="/me.jpg"
    alt="Youssef Moussaoui"
    width="192"
    height="192"
    format="webp"
    class="rounded-full mx-auto"
  />
</div>
