<header class="flex justify-between py-10">
  <a href="/" class="h-6 hover:text-amber-600">Youssef Moussaoui</a>
  <div>
    <a href="/about" class="p-1 sm:p-4 hover:text-amber-600">About</a>
  </div>
</header>
