---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

const publishedOnDate = new Date(frontmatter.publishedOn);
const publishedOnDateString = publishedOnDate.toLocaleDateString("en-US", {
  month: "long",
  year: "numeric",
});
---

<BaseLayout title={frontmatter.title}>
  <article>
    <div
      class="grid place-items-center pt-6 xl:pb-6 xl:border-b xl:border-b-neutral-700"
    >
      <div class="space-y-1 text-center max-w-prose">
        <div class="text-neutral-400">
          {publishedOnDateString}
        </div>
        <h1
          class="text-3xl font-extrabold leading-9 tracking-tight text-amber-600 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"
        >
          {frontmatter.title}
        </h1>
      </div>
    </div>
    <div class="pt-10 pb-16 prose prose-invert mx-auto">
      <slot />
    </div>
  </article>
</BaseLayout>
